body{
  margin: 0%;
}
.one{
  display: flex;
  height: 500px;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 0%;
  margin-bottom: 15%;

}
.two{
  display: flex;
  height: 500px;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 0%;
  margin-bottom: 15%;
}
.three{
  display: flex;
  height: 500px;
  margin-top: 0%;
  margin-bottom: 10%;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.full, .baby{
  width: 40%;
  height: 400px;
  padding: 10px 10px;
  margin: 2.5% 5%;
  border-left: 7px solid blue;
  box-shadow: 10px 10px 30px gray;
}
.full{
  border-left: 7px solid rgb(255, 81, 0);
}
.top{
  width: 40%;
  padding: 0% 5%;
}
.top img{
  width: 100%;
}
h1 span{
  color: rgb(76, 104, 220);
}
h1{
  font-size: 50px;
}
h3{
  font-size: 30px;
}
.paragraph{
  font-size: 20px;
}
.btn{
  text-decoration: none;
  background-color: coral;
  font-size: 25px;
  font-weight: 800;
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}
.low-3{
  color: blue;
  font-size: 25px;
  font-weight: bold;
}
footer{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}